<!doctype html>
<html ng-app="Timeline" ng-controller="timelineCtrl as tl">
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body  ng-cloak>
    <section class="random-container">

    <div class="timeline"
      ng-class="{
        'with-sidebar-right': tl.visibleSidebarRight,
        'with-selected-days': tl.diasSeleccionados.length > 0,
        'with-sidebar-extended': tl.visibleSidebarDetails
      }">
      <div class="esquina"
      ng-class="{'show-inputs': tl.showedHeaderInputs}">
      <button type="button" ng-click="tl.toggleHeaderInputs()">toggle</button>
      <span class="et">Et</span>
      <span class="t-min">temp min:</span>
      <span class="t-max">temp max:</span>
      <span class="t-med">temp med:</span>
    </div>

        <div class="header-sidebar-extended">
          lorem
        </div>


      <header ng-class="{'show-inputs': tl.showedHeaderInputs}">
        <div ng-repeat="dia in tl.diasHeader" class="dia-calendario" >
          <span class="date">{{::dia.unix | date:"d"}}
            <span class="month">{{::dia.unix | date:"MMM"}}</span>
          </span>
          <input type="text" class="et" ng-model="dia.et">
          <input type="text" class="t-min" ng-model="dia.tMin">
          <input type="text" class="t-max" ng-model="dia.tMax">
          <input type="text" class="t-med" ng-model="dia.tMed">
        </div>
      </header>




      <nav>
        <div class="equipo" ng-repeat="equipo in tl.equipos">
          <div class="nombre-equipo">
            <span ng-bind="equipo.name + ' - ' +equipo.id" bind-once></span>
          </div>
          <div class="sector" ng-repeat="sector in equipo.sectores">
            <span ng-bind="sector.name + ' - ' + sector.id" bind-once></span>
          </div>
        </div>
      </nav>




      <div class="sidebar-extended">
        <div class="equipo" ng-repeat="equipo in tl.equipos">
          <div class="sector" ng-repeat="sector in equipo.sectores">
              <span ng-bind="sector.name + ' - ' + sector.id" bind-once></span>
          </div>
        </div>
      </div>





      <div class="tl-container"
       ng-click="tl.selectDay($event)" ng-mousemove="tl.tlMouseOver($event)">
        <div class="square select" ng-repeat="s in tl.diasSeleccionados"
          style="left: {{s.positionOffset.left}}px; top: {{s.positionOffset.top}}px"
        ></div>
        <div class="equipo-time-content" ng-repeat="equipo in tl.equipos">
          <div class="sector-time-content" ng-repeat="sector in equipo.sectores">
            <div ng-repeat="dia in sector.diasData" class="dia" style="left: {{dia.position}}px">
              <span class="number riego" ng-bind="(dia.riego | number:1)" bind-once></span>
              <span class="number scholander" ng-bind="(dia.scholander | number:1)" bind-once></span>
            </div>
            <div class="last-position" style="margin-left: {{tl.lastPosition}}px"></div>
          </div>
        </div>
        <div class="hover-cursor"></div>
      </div>



      <div class="sidebar-right" ng-class="{active: tl.visibleSidebarRight}">
        <div class="header-sidebar-right">
          ipsum
        </div>
        <div class="sidebar-right-content">
          <div class="equipo" ng-repeat="equipo in ::tl.equipos">
            <div class="sector" ng-repeat="sector in ::equipo.sectores">
              <span ng-bind="sector.name + ' - ' + sector.id" bind-once></span>
            </div>
          </div>
        </div>
      </div>

    </div>
    </section>
    <button ng-click="tl.mostrarSidebar()" type="button">mostrarSidebar</button>
    <button ng-click="tl.ocultarSidebar()" type="button">ocultarSidebar</button>
    <br>
    <button type="button" ng-click="tl.mostrarDetalles()">mostrarDetalles</button>
    <button type="button" ng-click="tl.ocultarDetalles()">ocultarDetalles</button>
  </body>

  <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="bower_components/lodash/dist/lodash.min.js" charset="utf-8"></script>
  <script src="bower_components/moment/min/moment.min.js" charset="utf-8"></script>
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
</html>
