<!doctype html>
<html ng-app="Timeline" ng-controller="timelineCtrl as tl">
  <head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body  ng-cloak>
    <div class="timeline"
      ng-class="{'with-sidebar-right': tl.visibleSidebarRight, 'with-sidebar-extended': tl.visibleSidebarDetails}">
      <div class="esquina"></div>

        <div class="header-sidebar-extended">
          lorem
        </div>


      <header ng-click="tl.toggleHeaderInputs()"
         ng-class="{'show-inputs': tl.showedHeaderInputs}">
        <div ng-repeat="dia in tl.diasHeader" class="dia-calendario" >
          <span class="date">{{dia.unix | date:"d"}}
            <span class="month">{{dia.unix | date:"MMM"}}</span>
          </span>
        </div>
      </header>




      <nav>
        <div class="equipo" ng-repeat="equipo in tl.equipos">
          <div class="nombre-equipo">
            <span>
              {{equipo.name}} - {{equipo.id}}
            </span>
          </div>
          <div class="sector" ng-repeat="sector in equipo.sectores">
            <span>
              {{sector.name}} - {{sector.id}}
            </span>
          </div>
        </div>
      </nav>




      <div class="sidebar-extended">
        <div class="equipo" ng-repeat="equipo in tl.equipos">
          <div class="sector" ng-repeat="sector in equipo.sectores">
            <span>
              {{sector.name}} - {{sector.id}}
            </span>
          </div>
        </div>
      </div>





      <div class="tl-container"
       ng-click="tl.selectDay($event)" ng-mousemove="tl.tlMouseOver($event)">

        <div class="square select" ng-repeat="s in tl.diasSeleccionados"
          style="left: {{s.positionOffset.left}}px; top: {{s.positionOffset.top}}px"
        ></div>
        <div class="equipo-time-content" ng-repeat="equipo in tl.equipos">
          <div class="sector-time-content" ng-repeat="sector in equipo.sectores">
            <div  ng-repeat="dia in sector.diasData" class="dia" style="left: {{dia.position}}px">
              <span class="number blue">{{dia.riego}}</span>
            </div>
            <div class="last-position" style="margin-left: {{tl.lastPosition}}px"></div>
          </div>
        </div>
        <div class="hover-cursor"></div>
      </div>



      <div class="sidebar-right" ng-class="{active: tl.visibleSidebarRight}">
        <div class="header-sidebar-right">
          ipsum
        </div>
        <div class="sidebar-right-content">
          <div class="equipo" ng-repeat="equipo in tl.equipos">
            <div class="sector" ng-repeat="sector in equipo.sectores">
              <span>
                {{sector.name}} - {{sector.id}}
              </span>
            </div>
          </div>
        </div>
      </div>



    </div>
    <button ng-click="tl.mostrarSidebar()" type="button">mostrarSidebar</button>
    <button ng-click="tl.ocultarSidebar()" type="button">ocultarSidebar</button>
    <br>
    <button type="button" ng-click="tl.mostrarDetalles()">mostrarDetalles</button>
    <button type="button" ng-click="tl.ocultarDetalles()">ocultarDetalles</button>
  </body>

  <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="bower_components/lodash/dist/lodash.min.js" charset="utf-8"></script>
  <script src="bower_components/moment/min/moment.min.js" charset="utf-8"></script>
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
</html>
