body {
  padding: 0px !important;
  margin: 0px !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.timeline {
  overflow: hidden;
  height: 500px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  transition: 0.25s padding ease; }
  .timeline.with-sidebar-right {
    padding-right: 200px; }
  .timeline.with-sidebar-extended .sidebar-extended,
  .timeline.with-sidebar-extended .header-sidebar-extended {
    width: 200px; }
  .timeline.with-sidebar-extended .tl-container,
  .timeline.with-sidebar-extended header {
    padding-left: 400px; }
  .timeline .last-position {
    width: 30px;
    height: 30px; }
  .timeline .esquina {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 40px;
    z-index: 30;
    background: white;
    transition: 0.5s all ease; }
    .timeline .esquina.show-inputs {
      height: 100px;
      padding-top: 30px; }
      .timeline .esquina.show-inputs .t-min,
      .timeline .esquina.show-inputs .t-max,
      .timeline .esquina.show-inputs .t-med,
      .timeline .esquina.show-inputs .et {
        display: block;
        float: right;
        clear: both;
        line-height: 21px;
        margin-bottom: 3px;
        margin-right: 10px; }
    .timeline .esquina .t-min,
    .timeline .esquina .t-max,
    .timeline .esquina .t-med,
    .timeline .esquina .et {
      display: none; }
    .timeline .esquina button {
      position: absolute;
      top: 10px;
      right: 10px; }
  .timeline .header-sidebar-extended {
    height: 40px;
    width: 0px;
    position: absolute;
    left: 200px;
    top: 0;
    background: red;
    transition: 0.25s width ease;
    overflow: hidden;
    z-index: 30; }
  .timeline header {
    height: 40px;
    background: white;
    padding-left: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: flex;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    transition: 0.25s padding ease, 0.5s height ease; }
    .timeline header.show-inputs {
      height: 130px; }
      .timeline header.show-inputs .date {
        transform: rotate(0deg) translate(8px, 0px) !important;
        margin-bottom: 8px; }
      .timeline header.show-inputs .month {
        opacity: 0; }
      .timeline header.show-inputs .t-min,
      .timeline header.show-inputs .t-max,
      .timeline header.show-inputs .t-med,
      .timeline header.show-inputs .et {
        display: block;
        width: 22px;
        margin-bottom: 2px;
        font-size: 12px;
        text-align: center; }
    .timeline header:not(.show-inputs) .t-min,
    .timeline header:not(.show-inputs) .t-max,
    .timeline header:not(.show-inputs) .t-med,
    .timeline header:not(.show-inputs) .et {
      display: none; }
    .timeline header .dia-calendario {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-top: 7px;
      vertical-align: bottom; }
      .timeline header .dia-calendario span {
        cursor: pointer; }
      .timeline header .dia-calendario .date {
        display: block;
        font-size: 12px;
        color: #455a64;
        width: 60px;
        transform: rotate(-45deg) translate(1px, -10px);
        transition: 0.5s transform ease; }
      .timeline header .dia-calendario .month {
        transition: 0.5s opacity ease; }
  .timeline .sidebar-extended {
    width: 0px;
    background: red;
    position: absolute;
    left: 200px;
    top: 0px;
    z-index: 10;
    padding-top: 40px;
    overflow: hidden;
    transition: 0.25s width ease; }
    .timeline .sidebar-extended .sector {
      height: 30px;
      line-height: 30px;
      width: 200px; }
  .timeline nav {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 10;
    background: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12); }
    .timeline nav .equipo {
      position: relative; }
      .timeline nav .equipo .nombre-equipo {
        height: calc( 100% - 1px);
        width: 30px;
        left: 0px;
        top: 0px;
        position: absolute;
        border-bottom: 1px solid black;
        background: #fff9c4; }
        .timeline nav .equipo .nombre-equipo span {
          transform: translateX(-50%) translateY(-50%) rotate(-90deg);
          display: block;
          text-align: center;
          width: 190px;
          position: absolute;
          top: 50%;
          left: 50%; }
    .timeline nav .sector {
      height: 30px;
      line-height: 30px;
      padding-left: 60px; }
      .timeline nav .sector span {
        color: #455a64; }
  .timeline .sidebar-right {
    background: green;
    width: 200px;
    padding-top: 40px;
    position: absolute;
    right: -200px;
    top: 0px;
    z-index: 30;
    transition: 0.25s transform ease; }
    .timeline .sidebar-right.active {
      transform: translateX(-200px); }
    .timeline .sidebar-right .header-sidebar-right {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
      width: 200px;
      height: 40px;
      background: green; }
    .timeline .sidebar-right .sidebar-right-content {
      width: 200px; }
      .timeline .sidebar-right .sidebar-right-content .sector {
        height: 30px;
        line-height: 30px;
        width: 200px; }
  .timeline .tl-container {
    background: white;
    position: relative;
    /*
    position:absolute;
    left: 0px;
    top: $header-height;
    */
    margin-top: 40px;
    padding-left: 200px;
    padding-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    height: 460px;
    overflow: scroll;
    cursor: pointer;
    transition: 0.25s padding ease; }
    .timeline .tl-container .square.select {
      width: 30px;
      height: 30px;
      position: absolute;
      background: yellow; }
    .timeline .tl-container .hover-cursor {
      width: 30px;
      height: 30px;
      background: green;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    .timeline .tl-container .equipo-time-content {
      display: inline-block;
      margin-bottom: -4px;
      background-image: repeating-linear-gradient(90deg, #fafafa, #fafafa 29px, #9e9e9e 30px, #fafafa 31px, #fafafa 59px, #9e9e9e 60px, #fafafa 61px, #fafafa 89px, #9e9e9e 90px, #fafafa 91px, #fafafa 119px, #9e9e9e 120px, #fafafa 121px, #fafafa 149px, #9e9e9e 150px, #ffcdd2 151px, #ffcdd2 179px, #9e9e9e 180px, #ffcdd2 181px, #ffcdd2 209px, #9e9e9e 210px); }
    .timeline .tl-container .sector-time-content {
      height: 30px;
      width: auto;
      position: relative; }
    .timeline .tl-container .dia {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0px;
      z-index: 6; }
      .timeline .tl-container .dia:hover {
        background: red; }
      .timeline .tl-container .dia .number {
        width: 28px;
        margin-left: 1px;
        display: block;
        color: white;
        text-align: center;
        font-size: 12px;
        height: 15px;
        line-height: 15px; }
      .timeline .tl-container .dia .blue {
        background: #1976d2; }
      .timeline .tl-container .dia .red {
        background: #e53935; }

/*# sourceMappingURL=style.css.map */
